@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');


.header {
  background-color: white;
  z-index: 3;
  padding: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 15px -2px rgba(0,0,0,.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.navbar img {
  height: 75px;
}

nav ul {
  display: flex;
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav a:hover {
  color: #305252;
}

nav a {
  text-decoration: none;
  padding-left: 40px;
  font-family: 'raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
  letter-spacing: .06em;
  transition:.5s;
}

#hero {
  width: 50%;
  margin-top: 118px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  opacity: .88;
}

#hero h1 {
  font-family: 'Raleway', sans-serif;
  color: #1C2541;
  text-align: center;
  letter-spacing: .04em;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.parallax-image {
  background-image: url('https://media.istockphoto.com/id/1129847477/vector/pastel-multi-color-gradient-background-simple-form-and-blend-of-color-spaces-as-contemporary.jpg?s=170667a&w=0&k=20&c=7PO5G3j5aNb1tk4PkWiLVDGGLDaULFzom6a3GRPGBMQ=');
  background-size: cover;
  height: 500px;
  background-position: bottom;
  background-attachment: fixed; 
  display: flex;
  align-items: center;
  padding: 50px
  
}

#about {
  display: flex;
}

#about h2 {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 40px;
  margin: 0;
  color: #1C2541;
}

#about p {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  line-height: 1.6em;
}

.about-text {
  width: 60%;
  padding: 50px;
}

#about img {
  width: 30%;
  height: 30%;
  padding: 50px;
}

.about-content {
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 50px 30px;
}

#portfolio {
  background-color: #ebe6e2;
  padding: 100px 0 100px 0;
}

#portfolio h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: #1C2541;
}

.portfolio-items {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto -25px auto;
  width: 80%;
} 

.portfolio-item {
  margin: 0 25px 50px 25px;
  text-align: center; 
  font-family: 'Raleway', sans-serif; 
  transition:.5s;
}

.portfolio-item img {
  width: 300px;
  height: 275px;
  border: 5px solid white;
  padding: 25px;
}

.portfolio-item:hover {
  opacity: 1;
}

.portfolio-item {
  opacity: .5;
}

#contact {
  background-color: #1C2541;
  padding: 70px 10%;
  display: flex;
  justify-content: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center; 
}

#contact input,
textarea {
  margin-bottom: 15px;
  padding: 2%;
  font-family: 'Raleway', sans-serif;
}

#contact textarea {
  height: 100px;
}

.submit {
  transition:.5s;
  border: none;
  background-color: white;
  opacity: .6;
}

.submit:hover {
  opacity: 1;
}

#contact h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 25px;
  text-align: center;
}

#contact i {
  text-decoration: none;
  color: white;
  font-size: 40px;
  margin-right: 20px;
  opacity: .6;
  transition:.5s;
}

#contact i:hover {
  opacity: 1;
}

#clock {background-color: #1C2541;
        color: white;
        font-size: 35px;
        padding-bottom: 30px;}

div {align-items: center;
     align-content: center;
     align-self: center;
     text-align: center;}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

  .container{
  max-width: 450px;
  margin: 150px auto;
}

.container .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput.active input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: #efefef;
}

.searchInput .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}