@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');


.header {
  background-color: white;
  z-index: 3;
  padding: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 15px -2px rgba(0,0,0,.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.navbar img {
  height: 75px;
}

nav ul {
  display: flex;
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav a:hover {
  color: #305252;
}

nav a {
  text-decoration: none;
  padding-left: 40px;
  font-family: 'raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
  letter-spacing: .06em;
  transition:.5s;
}

#hero {
  width: 50%;
  margin-top: 118px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  opacity: .88;
}

#hero h1 {
  font-family: 'Raleway', sans-serif;
  color: black;
  text-align: center;
  letter-spacing: .04em;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.parallax-image {
  background-image: url('https://media.istockphoto.com/id/1129847477/vector/pastel-multi-color-gradient-background-simple-form-and-blend-of-color-spaces-as-contemporary.jpg?s=170667a&w=0&k=20&c=7PO5G3j5aNb1tk4PkWiLVDGGLDaULFzom6a3GRPGBMQ=');
  background-size: cover;
  height: 500px;
  background-position: bottom;
  background-attachment: fixed; 
  display: flex;
  align-items: center;
  padding: 50px
  
}

#about {
  display: flex;
}

#about h2 {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 40px;
  margin: 0;
  color: #305252;
}

#about p {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  line-height: 1.6em;
}

.about-text {
  width: 60%;
  padding: 50px;
}

#about img {
  width: 30%;
  height: 30%;
  padding: 50px;
}

.about-content {
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 50px 30px;
}

#portfolio {
  background-color: #ebe6e2;
  padding: 100px 0 100px 0;
}

#portfolio h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: black;
}

.portfolio-items {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto -25px auto;
  width: 80%;
} 

.portfolio-item {
  margin: 0 25px 50px 25px;
  text-align: center; 
  font-family: 'Raleway', sans-serif; 
  transition:.5s;
}

.portfolio-item img {
  width: 400px;
  height: 300px;
  border: 5px solid white;
}

.portfolio-item:hover {
  opacity: 1;
}

.portfolio-item {
  opacity: .5;
}

#contact {
  background-color: #1C2541;
  padding: 100px 10%;
  display: flex;
  justify-content: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 120px; 
}

#contact input,
textarea {
  margin-bottom: 15px;
  padding: 2%;
  font-family: 'Raleway', sans-serif;
}

#contact textarea {
  height: 100px;
}

.submit {
  transition:.5s;
  border: none;
  background-color: white;
  opacity: .6;
}

.submit:hover {
  opacity: 1;
}

#contact h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 25px;
}

#contact i {
  text-decoration: none;
  color: white;
  font-size: 40px;
  margin-right: 20px;
  opacity: .6;
  transition:.5s;
}

#contact i:hover {
  opacity: 1;
}